﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contactenos</title>
    <style>
        header {
            font-size: 2.5em;
            color: #050d68;
            font-weight:900;
        }
    </style>
</head>
<body>
    <div> 
        <header>Contactanos:</header>
        <p>William Mahecha</p>
        <p>Cód. 172005282</p>
        <p>Cel. 3203888908</p>
        <p>correo: williamfabian_mahecha@hotmail.com</p>
    </div>
</body>
</html>
