﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        h1
        {
            font-size:2.5em;
            color:#050d68;
        }
    </style>
</head>

<body>
    <div> 
        <h1>Página de Inicio</h1>  
        <p>Esta es la página de inicio de la clase de MVC.</p> 
    </div>
</body>
</html>
